.footer{
    width: 100%;
    height: 40px;
    border-top:solid 1px black;
  }
  
  .footerform{
      display:flex;
      justify-content: space-between;
      background-color:#ffff;
  
  }
  
  .footerbar{
      width:100%;
      display:flex;
      justify-content: center;
      margin-right: 50px;
      list-style:none;
      text-decoration:none;
      font-size:16px;
      gap:4em;
      color:black;
  }
  .footer-menu{
      color:black;
  }
  
  
  
  