.photoContainer {
    width: 100%;
    height: 962px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .title-one {
        img {
            font-family: 'Space Mono', monospace;
            font-size: 96px;
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            margin: auto;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 45%;
            margin-left: 200px;
        }
    }
}

.catalogue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .catalogue_photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 25px;
        position: relative;
        margin: auto;
    }
}

/* Dropdown Styles */
.custom-dropdown .options {
    display: none;
}

.custom-dropdown .options.show {
    display: block;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 200px;

    .selected-option {
        background: #f5f5f5;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-transform: uppercase;

        &:hover {
            border-color: blue;
        }
    }

    .arrow {
        float: right;
        border: solid #000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        transition: transform 0.3s;

        &.open {
            transform: rotate(-135deg);
        }
    }

    .options {
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
        z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0;

        &.show {
            display: block;
        }

        .option {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background: red;
                color: white;
            }
        }
    }
}
.One{
    display: flex;
    justify-content: space-between;

}

.tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #format {
        margin-left: 60px;
        font-family: 'Poppins';
    }

    #orderby {
        margin-right: 87px;
        font-family: 'Poppins';
    }
}

#load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    color: black;
    border: none;
    width: 272px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 580px;
    margin-top: 30px;
    margin-bottom: 50px;
}

nav {
    li {
        list-style: none;
        border-bottom: none;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    gap: 15px;
}

body {
    background-color: white;
}

.hero {
    img {
        width: 100%;
        height: 100vh;
    }
}
.selection{
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    margin-left:90px;
    margin-top:20px;
    
}

.titre{

    margin-left: 220px;
    margin-top: 450px;
}
div#orderby-filter {
    margin-right: 85px;
    padding-top: 20px;
}