.photoContainer {
    width: 100%;
    height: 962px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

.title1 {
        font-family: 'Space Mono', monospace;
        font-size: 96px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
        margin: auto;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 45%;
        margin-left: 200px;
    }
}

.catalogue-container {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 20px;}

.catalogue_photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 25px;
        position: relative;
        margin: auto;
    }


.selection {
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 90px;
    margin-top: 20px;
    justify-content: space-between;
}

.filter {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins';
    font-size: 14px;
    background-color: white;
    color: #333;
    margin: 10px 0;
    width: 260px;
    height: 45px;
}

.taxo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #format {
        margin-left: 60px;
        font-family: 'Poppins';
    }

    #orderby {
        margin-right: 87px;
        font-family: 'Poppins';
    }
}

#load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    color: black;
    border: none;
    width: 272px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 580px;
    margin-top: 30px;
    margin-bottom: 50px;
}
