/*HEDAER*/

.header {
	position: relative;
	width: 100%;
	height: 80px;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.menu-header {
	display: flex;
	justify-content: space-between;
	background-color: #ffff;
	margin-top: 30px;
	margin-bottom: 50px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	list-style: none;
	gap: 4em;
	font-size: 16px;
	margin-top: 30px;
	margin-right: 100px;
}

.menu-item {
	display: flex;

	a {
		color: #000000;
		text-decoration: none !important;
		font-family: 'Space Mono', monospace;
		font-size: 16px;
	}
}

.logo {
	width: 216px;
	height: 14px;
	padding-top: 30px;
	margin-left: 100px;
}
.title-one{
	display: none;
}