.post-infos {
    display: flex;
    justify-content: space-between;
    align-items: end;
  
    .infos-photo {
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 564px;
      padding: 5px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border-bottom: solid 1px black;
  
      .title {
        font-family: 'Space Mono', monospace;
        font-style: italic;
        font-size: 66px;
        text-transform: uppercase;
        margin-top: 10px;
        line-height: 55px;
      }
  
      .taxonomies {
        display: flex;
        flex-wrap: wrap;
        font-family: "Space Mono";
        font-size: 16px;
        text-transform: uppercase;
        line-height: 4px;
        width: 200px;
      }
    }
  
    .image-post {
      width: 564px;
      height: auto;
    }
  
    .contact-bloc {
      display: flex;
      flex: 1;
      width: 50%;
      max-width: 564px;
      padding: 5px;
      padding-bottom: 5px;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
  
      #ctaContact {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d8d8d8;
        color: black;
        border: none;
        width: 272px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
  
  .photos-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bloc-infos {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
  
    .infos {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: 140px !important;
      justify-content: space-between;
      align-items: center;
  
      .p1 {
        font-family: 'Poppins';
        font-size: 18px;
      }
  
      .p2 {
        font-family: 'Space Mono';
        font-size: 21px;
        text-transform: uppercase;
        margin-left: 100px;
        margin-top: 30px;
      }
    }
  }
  
  /* Miniatures */
  .thumbnail_container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .current_thumbnail {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        max-width: 118px;
        max-height: 118px;
        margin-bottom: 10px;
        
      }
    }
  
    .navigation_arrows {
      a {
        text-decoration: none;
        font-size: 1.5em;
        padding: 10px;
        color: black;
        cursor: pointer;
  
        &:hover {
          color: white;
        }
      }
    }
  }
  